/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/laravel-excel
/storage/framework/laravel-excel/*.dompdf
/storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.lock
docker-compose.yml
composer.phar
.idea/*